---
import Layout from "~layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";
import MarkdownContent from "~components/MarkdownContent.astro";
import { GithubIcon } from "~components/Icons";

export async function getStaticPaths() {
    const allPages = await getCollection("page", ({ data }) => {
        return !data.draft;
    });

    return allPages
        .filter((page) => page.slug !== "homepage")
        .map((page) => ({
            params: {
                page: page.slug
            }
        }));
}

const { page } = Astro.params;

const entry = await getEntry("page", page);
const { Content } = await entry.render();
---

<Layout title={entry.data.name} description={entry.data.description} headerImage={entry.data.image}>
    <MarkdownContent>
        <Content />
    </MarkdownContent>
    <footer class="mt-12 flex flex-col gap-4 border-t pt-4">
        <div>
            <a
                href={`https://github.com/CodeVachon/astro/blob/main/src/content/page/${page}.md`}
                target="_blank"
                class="inline-flex items-center gap-2"
            >
                <GithubIcon className="size-4" />
                <span>View on GitHub</span>
            </a>
        </div>
    </footer>
</Layout>
