@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Register your custom font family and tell the browser where to find it. */
    @font-face {
        font-family: "PTSans";
        src: url("/fonts/PTSans.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    html {
        font-family: "PTSans", system-ui, sans-serif;
        font-size: 14px;

        @media screen(lg) {
            font-size: 16px;
        }
    }

    :root {
        --color-primary: 14 165 233;
    }

    a {
        @apply underline decoration-primary transition-colors duration-300 ease-in-out;

        &:hover {
            @apply text-primary;
        }
    }

    .prose {
        a[href^="http"] {
            @apply underline decoration-primary transition-colors duration-300 ease-in-out;

            &:after {
                content: "↗";
                @apply ml-1 font-mono;
            }
            &:hover {
                @apply text-primary;
            }
        }
    }
}

@layer components {
    @media (min-height: 1500px) {
        #sidebar {
            @apply items-start;
        }

        #sidebar-content {
            @apply mt-[32rem];
        }
    }
    @media (min-height: 1500px) and (max-width: 1024px) {
        #sidebar-content {
            @apply mt-0;
        }
    }
    @media (max-height: 700px) and (min-width: 1024px) {
        #sidebar-content header {
            @apply relative;
        }
        #sidebar-content #profile-image {
            @apply absolute -left-36 top-4 size-32;
        }
    }
}
