---
import Layout from "~layouts/Layout.astro";
import H1 from "~components/H1.astro";
---

<Layout
    title="404 - Not Found"
    headerImage={"https://christophervachon.s3.amazonaws.com/astro/missing-peices.png"}
>
    <div class="flex flex-grow items-center justify-center">
        <section class="text-center">
            <H1>404 - Not Found</H1>
            <p class="text-lg">Sorry, the page you are looking for could not be found.</p>
        </section>
    </div>
</Layout>
