---
import Layout from "~layouts/Layout.astro";

import { getCollection, getEntry } from "astro:content";
import ArticleList from "~components/ArticleList.astro";
import MarkdownContent from "~components/MarkdownContent.astro";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection("blog", ({ data }) => {
    return !data.draft;
});

const recentBlogPosts = allBlogPosts.reverse().slice(0, 5);
const homepageData = await getEntry("page", "homepage");
const { Content } = await homepageData.render();
---

<Layout title="Home" className="flex flex-col gap-12">
    <MarkdownContent>
        <Content />
    </MarkdownContent>
    <main class="flex flex-col gap-6">
        <h2 class="border-b text-3xl font-bold">Recent Posts</h2>
        <ArticleList articles={recentBlogPosts} />
        <p><a href="/blog">See More Posts</a></p>
    </main>
</Layout>
