<div
    data-name="FixedSidebar"
    class="relative flex-none overflow-hidden px-6 lg:pointer-events-none lg:fixed lg:inset-0 lg:z-40 lg:flex lg:px-0"
>
    <!-- GLOW START -->
    <div
        class="absolute inset-0 -z-10 overflow-hidden bg-gray-950 lg:right-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-[32rem]"
    >
        <svg
            class="absolute -bottom-48 left-[-40%] h-[80rem] w-[180%] lg:-right-40 lg:bottom-auto lg:left-auto lg:top-[-40%] lg:h-[180%] lg:w-[80rem]"
            aria-hidden="true"
        >
            <defs>
                <radialGradient id={`glow-desktop`} cx="100%">
                    <stop offset="0%" stop-color="rgba(56, 189, 248, 0.3)"></stop>
                    <stop offset="53.95%" stop-color="rgba(0, 71, 255, 0.09)"></stop>
                    <stop offset="100%" stop-color="rgba(10, 14, 23, 0)"></stop>
                </radialGradient>
                <radialGradient id={`glow-mobile`} cy="100%">
                    <stop offset="0%" stop-color="rgba(56, 189, 248, 0.3)"></stop>
                    <stop offset="53.95%" stop-color="rgba(0, 71, 255, 0.09)"></stop>
                    <stop offset="100%" stop-color="rgba(10, 14, 23, 0)"></stop>
                </radialGradient>
            </defs>
            <rect width="100%" height="100%" fill={`url(#glow-desktop)`} class="hidden lg:block"
            ></rect>
            <rect width="100%" height="100%" fill={`url(#glow-mobile)`} class="lg:hidden"></rect>
        </svg>
        <div
            class="absolute inset-x-0 bottom-0 right-0 h-px bg-white mix-blend-overlay lg:left-auto lg:top-0 lg:h-auto lg:w-px"
        >
        </div>
    </div>
    <!-- GLOW END -->
    <div
        class="relative flex w-full lg:pointer-events-auto lg:mr-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-[32rem] lg:overflow-y-auto lg:overflow-x-hidden lg:pl-[max(4rem,calc(50%-38rem))]"
    >
        <div
            class="mx-auto max-w-lg lg:mx-0 lg:flex lg:w-96 lg:max-w-none lg:flex-col lg:before:flex-1 lg:before:pt-6"
        >
            <div class="pb-16 pt-20 sm:pb-20 sm:pt-32 lg:py-20">
                <div class="relative">
                    <!-- <StarField class="-right-44 top-14" /> -->
                    <svg
                        viewBox="0 0 881 211"
                        fill="white"
                        aria-hidden="true"
                        class="pointer-events-none absolute w-[55.0625rem] origin-top-right rotate-[30deg] overflow-visible opacity-70"
                    >
                    </svg>
                    <slot />
                </div>
            </div>
            <div class="flex flex-1 items-end justify-center pb-4 lg:justify-start lg:pb-6">
                <p>Footer</p>
            </div>
        </div>
    </div>
</div>
