---
interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<main
    class:list={[
        "prose prose-lg max-w-full dark:prose-invert",
        "lg:prose-xl lg:max-w-[750px]",
        className
    ]}
>
    <slot />
</main>
